*{
    margin: 0;
    padding: 0;
}
html{
    background: #23252C;
    font-family: 'inter';
}
#root{
    width: 317px;
    margin: 2rem auto;
    background: #1A1B21;
    border-radius: 0 0 5px 5px;
}
.profil{
    width: 317px;
    height: 317px;
    border-radius: 5px 5px 0 0;
}
header{
    margin-top: 1rem;
    text-align: center;
}
.name{
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}
.job{
    color: #F3BF99;
    font-size: 12.8px;
}
.portfolio{
    text-decoration: none;
    color: #f5f5f5; 
    font-size: 10.24px;
    line-height: 150%;
}
.link{
    width: 247px;
    height: 34px;
    background: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 5px;
    margin: 1em 2em;
    text-align: center;
    vertical-align: middle;
    color: #374151;
    font-size: 14px;
    font-weight: medium;
    line-height: 16px;
}
section{
    width: 250px;
    margin: 0 auto;
}
section > h2{
    color: #F5F5F5;
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
}
section > p{
    color: #DCDCDC;
    font-size: 10.24px;
    line-height: 150%;
}
footer{
    height: 64px;
    
    background: #161619;
    margin-top: 2em;
}